.contact {
    position: relative;
    padding:0 0 2rem;

    &__img {
        max-width: 150px;
        margin: -75px auto 1rem;
    }

    &__form {
        width: 80%;
        margin: 0 auto;  
        max-width: 550px;     
    }

    &__title {
        text-align: center;
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #444;
        @include respond-to(ssm) {
            border-bottom: none;
            padding-bottom: 0;
        }
    }

    &__item {
        position: relative;
        display: flex;
        margin-bottom: 1.4rem;

        span {
            flex: 1;
            max-width: 20%;
            font-size: 0.9rem;
        }

        input {
            flex: 2;
            padding: 0.4rem;
            border: none;
        }
    }

    &__info {
        position: absolute;
        right: 5px;
        top: 5px;
        padding: 0rem 0.5rem;
        font-size: 0.8rem;
        color: #fff;
        text-align: right;
        pointer-events: none;
        border-radius: 4px;
        background: rgba(red,0.4);
    }

    &__massage {
        position: relative;
        display: flex;
        margin-bottom: 1.8rem;
        span {
            flex: 1;
            max-width: 20%;
            font-size: 0.9rem;
        }

        textarea {
            flex: 2;
            padding: 0.4rem;
            border: none;
            resize : none;
            height: 20vh;
            @include respond-to(ssm) {
                height: 10vh;
            }
        }
    }

    &__massage-text {
        position: absolute;
        padding: 0.2rem 0.5rem;
        top: 80%;
        right: 5px;
        font-size: 0.8rem;
        color: #fff;
        text-align: right;
        pointer-events: none;
        border-radius: 4px;
        background: rgba(red,0.4);
    }

    &__button {
        display: block;
        padding: 0.4rem 1rem;
        text-align: center;
        font-size: 0.9rem;
        background: #ff6666;
        max-width: 100%;
        margin: 0 auto;
        border-radius: 4px;
    }

    a {
        color: #fff;
    }

    &__mask {
        @include translate-center;
        width: 80%;
        max-width: 400px;
        text-align: center;
        background: rgba(#000,0.8);
        color: #fff;
        height: 200px;
        border-radius: 4px;
        .item {
            @include translate-center;
            font-size: 1.4rem;
        }

    }
}