.slide-show {
    position: relative;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    height: 250px;
    padding: 0 0 1rem 0;
    overflow: hidden;
    @include respond-to(ssm) {
        overflow: auto;
        height: auto;
        min-height: 40vh;
        overflow-x: hidden; 
    }
    .brand {
        display: flex;
        width: 80%;
        margin: 0 auto;
        justify-content: center;
        @include respond-to(ssm) {
            flex-wrap: wrap;
            width: 90%;
        }
        img {
            max-width: 25%;
            margin: 0 10px;
            @include respond-to(ssm) {
                max-width: 45%;
                height: 45%;
                margin: 0 5px;
            }
        }
    }
}
.slide-pages {
    @include translate-center;
    top: 85%;
    @include respond-to(ssm) {
        top: 90%;
    }
    li {
        display: inline-block;
        margin: 0 5px;
    }
    span {
        display: block;
        cursor: pointer;
        @include circle(8px,#ccc);
        &.on {
            @include circle(8px,#fb6f78); 
        }
    }

}
.itemlist {
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    padding: 1rem 0;
    margin: 0 auto;
    @include respond-to(ssm) {
        width: 90%;
        
    }
    .item {
        width: 24%;
        margin: 1rem 0.5%;
        background: #fff;
        box-shadow: 0px 0px 5px rgba(#000,0.2);
        @include radius(4px);
        overflow: hidden;
        @include respond-to(ssm) {
            width: 48%;
            margin: 1rem 1%;
        }
        &--twins {
            width: 49%;
            @include respond-to(ssm) {
                width: 98%;
                margin: 1rem 1%;
            }
        }  
        &__cover {
            position: relative;
            overflow: hidden;
            img {
                transform: scale(1) rotate(0deg);
                @include dc(.8s);
            }
            &:before,&::before {
                content: '查看';
                display: block;
                color: #fff;
                padding: 5px 15px;
                border: 1px solid #fff;
                opacity: 0;
                visibility: hidden;
                @include translate-center;
                z-index: 3;
                @include dc(.8s);
                margin-top: -1rem;
            }
            &:after,&::after {
                content: '';
                display: block;
                background: rgba(#000,0.7);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                visibility: hidden;
                @include dc;
            }
        }
        &__title {
            font-size: 1rem;
            font-weight: bold;
            margin: 0.5rem 1rem 0;
            @include respond-to(ssm) {
                line-height: 1.4rem;
                margin: 0.5rem 1rem;
            }
        }
        &__content {
            margin: 0 1rem 1rem;
            li {
                &:nth-child(2) {
                    display: inline-block;
                    font-size: 12px;
                    padding: 0 10px;
                    border: 1px solid #999;
                }
            }
        }
        &__skills {
            span {
                display: inline-block;
                padding: 0 10px;
                margin: 10px 5px 0 0;
                color: #fff;
                font-size: 12px;
                @include radius(10px);
                @for $i from 1 through length($item-bg) {
                    &:nth-child(#{$i}){
                        background: nth($item-bg,$i);
                    }
                }
            }
        }
        &--oc {
            margin: 0;
        }
        a {
            color: #302124;
            &:hover {
                .item__cover {
                    img {
                        transform: scale(1.2) rotate(5deg);
                    }
                    &:before,&::before,&::after,&:after {
                        opacity: 1;
                        visibility: visible;
                        margin-top: 0;
                    }
                }
            }
        }
    }
    .item-frame-flex {
        display: flex;
        flex-wrap: wrap;
    }
    .item-hd {
        position: relative;
        width: 100%;
        margin: 1rem 0.5%;
        box-shadow: 0px 0px 5px rgba(#000,0.2);
        @include radius(4px);
        overflow: hidden;
        @include respond-to(ssm) {
            width: 98%;
            margin: 1rem 1%;
        }
        &__title {
            @include translate-center;
            width: 100%;
            height: 100%;
            display: block;
            background: rgba(#000,0.6);
            text-align: center;
            p {
                @include translate-center;
                font-size: 1.8rem;
                color: #fff;
                width: 100%;
            }
            span {
                display: block;
                font-size: 1rem;
            }
        }
    }
    .style-t1 {
        border-bottom: 1px solid #999;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
    }
    .fz-24 {
        font-size: 24px;      
    }
}

.cover02 {
    .item-hd__cover {
        min-height: 200px;
        overflow: hidden;
        img {
            width: 150%;
        }
    }
    .item:nth-child(2) {
        flex: 2;
        padding: 1rem;
        @include respond-to(ssm) {
            min-width: calc(96% - 2rem);
        }
        .item__title {
            font-size: 24px;
            border-bottom: 1px solid #ccc;
            margin-bottom: 1rem;
            @include respond-to(ssm) {
                line-height: 2;
            }
        }
    }
}