@charset "UTF-8";
@import "mixins";
@import "extend";
@import "animate";
@import "default";
@import "nav";
@import "layout";
@import "profile";
@import "page";
@import "contact";
@import "footer";

$bg-item: bg;
.wrap {
    @each $item in $bg-item {
        &-#{$item} {
            background: url("#{$bg}#{$item}.jpg") repeat center top;
        }
    }
}

h1 {
    color: red;
}

.layout-frame {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    &__title {
        font-size: 1.4rem;
        font-weight: bold;
        padding: 2rem 0 0 2rem;
    }
}

//遮罩
.zoneMask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 23;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.7);
    @include respond-to(sm) {
        overflow-y: auto;
    }
    &__colse {
        position: absolute;
        z-index: -1;
        display: block;
        width: 100%;
        height: 100%;
    }
}

//首頁過場
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.6s;
  transition-property: height, opacity;
  transition-timing-function: ease-in-out;
  overflow: hidden;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}

.zoom-enter-active,
.zoom-leave-active {
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-name: zoom;
}

.zoom-leave-active {
  animation-direction: reverse;
}

@keyframes zoom {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 1;
  }
}

/* loading */
@keyframes ldio-6jor80znkkd {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-6jor80znkkd div {
  left: 35px;
  top: 8px;
  position: absolute;
  animation: ldio-6jor80znkkd linear 1s infinite;
  background: #fe718d;
  width: 6px;
  height: 14px;
  border-radius: 4px / 8px;
  transform-origin: 4px 32px;
}.ldio-6jor80znkkd div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #fe718d;
}.ldio-6jor80znkkd div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #fe718d;
}.ldio-6jor80znkkd div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #fe718d;
}.ldio-6jor80znkkd div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #fe718d;
}.ldio-6jor80znkkd div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #fe718d;
}.ldio-6jor80znkkd div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #fe718d;
}.ldio-6jor80znkkd div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #fe718d;
}.ldio-6jor80znkkd div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #fe718d;
}.ldio-6jor80znkkd div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #fe718d;
}.ldio-6jor80znkkd div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #fe718d;
}.ldio-6jor80znkkd div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #fe718d;
}.ldio-6jor80znkkd div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #fe718d;
}
.loadingio-spinner-spinner-6sqfm6wq48r {
  width: 80px;
  height: 80px;
  display: inline-block;
  overflow: hidden;
}
.ldio-6jor80znkkd {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-6jor80znkkd div { box-sizing: content-box; }